* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}
body {
    background: #b07cf7;
    color: #ffffff;
}
.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 104px;
    margin: 0;
}
p {
    margin-top: 30px;
    margin-bottom: 24px;
    display: inline-block;
    width: 570px;
    font-size: 17px;

}
.posts {
    display: flex;
    justify-content: space-between;
}
.post {
    margin: 24px 0;
    width: 370px;
    height: 310px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: .5s;
    cursor: pointer;
}
.post img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.post::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.8), transparent);
    z-index: 2;
    transition: .5s;
    opacity: 0;
}
.post:hover {
    transform: scale(105%);
}
.post:hover::before {
    opacity: 1;
}
.post-desc, .post-date {
    z-index: 3;
}
.post-date {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.404);
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.post-date>span {
    font-size: 28px;
    font-weight: bold;
    line-height: .8;

}
.post-desc {
    margin: 20px 20px;
    text-align: left;
}
.post-desc h3 {
    margin-bottom: 16px;
}
.post:hover .post-desc h3, span {
    transform: translateY(0);
}
.post:hover .post-desc span {
    transform: translateY(0);
}
.post-desc h3 {
    transition: .4s ease;
    transform: translateY(100px);

}
.post-desc span {
    transition: .65s ease;
    transform: translateY(100px);
    display: block;
}
button {
    margin-top: 24px;
    width: 200px;
    height: 55px;
    background: #f72b3b;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.555);

    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s linear;
}
button:hover {
    background: #fd4352;
}
button:active {
    background: #c42532;
}
