* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Raleway;
}
body {
    background: #b07cf7;
    color: #ffffff;
}
.blog {
    padding-top: 100px;
    padding-bottom: 120px;
}
.container {
    width: 1170px;
    margin: 0 auto;
    text-align: center;
}
h1 {
    text-transform: capitalize;
    font-weight: bold;
    font-size: 104px;
    line-height: 80px;
    margin: 0;
}
p {
    margin-top: 30px;
    margin-bottom: 24px;
    display: inline-block;
    width: 570px;
    font-size: 17px;

}
.posts {
    display: flex;
    justify-content: space-between;
}
.post {
    margin: 24px 0;
    width: 370px;
    height: 310px;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: end;
    transition: .5s;
    cursor: pointer;
}
.post img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.post::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background: linear-gradient(to top,rgba(0, 0, 0, 0.8), transparent);
    z-index: 2;
    transition: .5s;
    opacity: 0;
}
.post:hover {
    transform: scale(105%);
}
.post:hover::before {
    opacity: 1;
}
.post-desc, .post-date {
    z-index: 3;
}
.post-date {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 60px;
    height: 60px;
    background: rgba(0, 0, 0, 0.404);
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.post-date>span {
    font-size: 28px;
    font-weight: bold;
    line-height: .8;

}
.post-desc {
    margin: 20px 20px;
    text-align: left;
}
.post-desc h3 {
    margin-bottom: 16px;
}
.post:hover .post-desc h3, span {
    transform: translateY(0);
}
.post:hover .post-desc span {
    transform: translateY(0);
}
.post-desc h3 {
    transition: .4s ease;
    transform: translateY(100px);

}
.post-desc span {
    transition: .65s ease;
    transform: translateY(100px);
    display: block;
}
button {
    margin-top: 24px;
    width: 200px;
    height: 55px;
    background: #f72b3b;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.555);

    color: #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .3s linear;
}
button:hover {
    background: #fd4352;
}
button:active {
    background: #c42532;
}
.home {
    padding-top: 110px;
    padding-bottom: 170px;
    background: #f6f6f6;
}
.home-title {
    position: relative;
    font-family: Lato, serif;
    font-weight: bold;
    font-size: 34px;
    text-transform: uppercase;
    color: #3c3c3c;
}
.home-title::before {
    position: absolute;
    content: '';
    width: 45px;
    height: 4px;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    background: #dddbdb;
}
.home-subtitle {
    margin-top: 56px;
    margin-bottom: 62px;
    font-size: 17px;
    font-family: Lato, serif;
    font-weight: 300;
    color: #3c3c3c;
}
.home-cards {
    display: flex;
    justify-content: space-between;
}
.unit-card {
    position: relative;
    width: 269px;
    height: 268px;
    cursor: pointer;
    
}
.unit-front,.unit-back {
    overflow: hidden;
    position: absolute;
    backface-visibility: hidden;
    transition: transform .6s linear;
}
.unit-front {
    transform: perspective(800px) rotateY(0deg);
}
.unit-back {
    width: 100%;
    height: 100%;
    background: #18b5dc;
    transform: perspective(800px) rotateY(180deg);
}
.unit-social {
    display: flex;
    justify-content: space-around;
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.unit-social>span {
    padding: 14px;
    background: #ffffff69;
}
.unit-social a {
    text-decoration: none;
}
.unit-social img {
    height: 24px;
    filter: invert(1);
}
.unit-card:hover>.unit-front {
    transform: perspective(800px) rotateY(180deg);
}
.unit-card:hover>.unit-back {
    transform: perspective(800px) rotateY(360deg);
}
.unit-name {
    position: absolute;
    left: 0;
    bottom: -30px;
    color: #282528;
    font-family: Lato, serif;
    font-weight: bold;
    font-size: 18px;
}
.unit-skill {
    position: absolute;
    bottom: -48px;
    left: 0;
    color: #282528;
    font-family: Lato, serif;
    font-weight: 300;
    font-size: 14px;
}
